@{
    ViewBag.Title = "Home";
}


<!--Grid row-->
<div class="row wow fadeIn">

    <div class="col-md-12 mb-4">
        <div class="card">
            <div class="card-body" style=" background-color:yellow;">

                <div style="overflow-x:auto; overflow-y:auto;">

                    <table id="tableName" class="table table-striped table-hover table-sm table-borderless table-responsive-sm">
                        <!--Table head-->
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                                <th>Visits</th>
                                <th>Age</th>
                                <th>Country</th>
                                <th>First Name</th>
                                <th>Username</th>

                            </tr>
                        </thead>
                        <!--Table head-->
                        <!--Table body-->
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mark</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>Mark</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>Mark</td>
                                <td>Otto</td>
                            </tr>
                        </tbody>
                        <!--Table body-->
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>