@{
    ViewBag.Title = "Error Not Exist";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                <strong>@ViewBag.Title</strong>
            </div>
            <div class="card-body">
                Error Not Exist
            </div>
        </div>
    </div>
</div>



